<body>
  <h2> Bookmark Manager </h2>
    <h3> List of links: </h3>
    <ul id ='links'>
      <% @links.each do |link| %>
      <li>
        Title: <%= link.title %>
        URL: <%= link.url %>
        Tag: <%= link.tags.map(&:name).join(', ') %>
      </li>
      <% end %>
    </ul>
</body>
<br>

<form action="/tags/name" method="get">
  <p> Filter via tag:</p>
  <input type="text" name="name"><br>
  <input type="submit" value="Filter">
</form>

<a href="/links">List of all Bookmarks </a>
