<body>
  <h2> Bookmark Manager </h2>
    <h3> List of links: </h3>
    <ul id ='links'>
      <% @links.each do |link| %>
      <li>
        Title: <%= link.title %>
        URL: <%= link.url %>
        Tag: <%= link.tags.map(&:name).join(', ') %>
      </li>
      <% end %>
    </ul>
</body>
