<form action="/links" method="post">
  Enter a name for the link :<br>
  <input type="text" name="title">
  Copy and past the url of the link here:<br>
  <input type="text" name="url">
  <input type="submit" value="Save">
</form>
