<form action="/links" method="post">
  Enter a name for the link :<br>
  <input type="text" name="title"> <br>
  Copy and past the url of the link here:<br>
  <input type="text" name="url"><br>
  Enter a tag for this link:<br>
  <input type="text" name="tag"><br>
  <input type="submit" value="Save">
</form>
