<form action="/links" method="post">
  <p> Enter a name for the link :</p><br>
  <input type="text" name="title"> <br>
  <p> Copy and paste the url of the link here:</p><br>
  <input type="text" name="url"><br>
  <p> Enter a tag for this link:</p><br>
  <input type="text" name="tags"><br>
  <input type="submit" value="Save">
</form>
